<footer>
      <div class="footer-local">
        <p>&copy; Motorshift Connection 2025</p>
        <a href="/contact">Contact Us</a>
        <a href="/about">About Us</a>
      </div>
      <div class="social">
        <a href="https://x.com/" target="_blank"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </footer>
    <script type="module" src="/js/flashDismiss.js"></script>
  </body>
</html>
