<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motorshift Connection</title>
    <script src="https://kit.fontawesome.com/308346d3b6.js"></script>
    <link rel="icon" href="/images/motorshift_logo.png">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="/"
        ><img
          src="/images/motorshift_logo2.png"
          class="logo"
          alt="motorshift home"
      /></a>
      <nav class="user-nav">
        <ul>
          <li><a href="/events/new">New Event</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#" id="user-signup">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <nav class="general-nav">
      <ul>
        <li><a href="/events">Events</a></li>
      </ul>
    </nav>