<%- include('../partials/header.ejs')%>
<main id="about-main">
  <h3>What is MotorShift Connection?</h3>
  <p>
    We are a hub in the motorsports world - whether you are on the track or a
    parking lot. We can organize your motorsports events by providing staff and
    equipment. We are a community designed to bring together drivers, builders
    and fans from all types of motorsports from global event series such as Lemans
    to local autocross events.
  </p>
</main>
<%- include('../partials/footer.ejs')%>
