<%- include('../partials/header.ejs')%>
<main id="contact-main">
      <form method="POST" action="/" class="contact-form">
        <fieldset>
          <div>
            <label for="first-name">FIRST NAME:</label>
            <input
              name="first-name"
              type="text"
              id="first-name"
              placeholder="First Name"
              required
              minlength="1"
              maxlength="100"
              autocomplete="cc-name"
            />
          </div>
          <div>
            <label for="last-name">LAST NAME:</label>
            <input
              name="last-name"
              type="text"
              id="last-name"
              placeholder="Last Name"
              required
              minlength="1"
              maxlength="100"
              autocomplete="cc-family-name"
            />
          </div>
          <div>
            <label for="tel-num">PHONE NUMBER:</label>
            <input
              name="tel-num"
              type="tel"
              id="tel-num"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              minlength="9"
              maxlength="14"
              placeholder="+1 555-555-555"
              autocomplete="mobile"
            />
          </div>
          <div>
            <label for="email">EMAIL ADDRESS:</label>
            <input
              name="email"
              type="email"
              id="email"
              placeholder="Email"
              autocomplete="email"
              required
            />
          </div>
          <div>
            <label for="message">MESSAGE: </label>
            <textarea
              name="message"
              id="message"
              placeholder="Message..."
              required
              minlength="10"
            ></textarea>
          </div>
          <div id="form-submit-button-container">
            <input type="submit" />
          </div>
        </fieldset>
      </form>
      <aside>
        <h3>Have Questions, Suggestions or Concerns?</h3>
        <p>Contact us for any of your motorsport event needs.</p>
      </aside>
    </main>
<%- include('../partials/footer.ejs')%>