<%- include('../partials/header.ejs')%>
<main>
      <form method="POST" action="/events" class="main-form" enctype="multipart/form-data">
        <fieldset>
          <legend>Add an event</legend>
          <div>
            <label for="category-selection">Category</label>
            <select
              name="category"
              id="category-selection"
              class="event-form-field"
              required
            >
              <option value="">--Select A Category--</option>
              <option value="Road Course">Road Course</option>
              <option value="Drift">Drift</option>
              <option value="Car Show">Car Show</option>
              <option value="Dirt Oval">Dirt Oval</option>
              <option value="Karting">Karting</option>
              <option value="Asphalt Oval">Asphalt Oval</option>
              <option >Other</option>
            </select>
          </div>
          <div>
            <label for="name">Name</label>
            <input
              name="name"
              type="text"
              id="name"
              placeholder="Enter a name"
              required
              minlength="10"
              maxlength="100"
            />
          </div>
          <div>
            <label for="location">Location</label>
            <input
              name="location"
              type="text"
              id="location"
              placeholder="Event Location"
              required
            />
          </div>
          <div class="recurring-event">
            <label for="recurring">Recurring?</label>
            <input id="recurring" type="checkbox" name="recurring" value="true"/>
          </div>
          <div class="recurring-days-options">
            <div>
              <label for="sunday">Su</label>
              <input id="sunday" type="checkbox" name="recurringDays[]" value="Sunday"/>
            </div>
            <div>
              <label for="monday">Mo</label>
              <input id="monday" type="checkbox" name="recurringDays[]" value="Monday"/>
            </div>
            <div>
              <label for="tuesday">Tu</label>
              <input id="tuesday" type="checkbox" name="recurringDays[]" value="Tuesday"/>
            </div>
            <div>
              <label for="wednesday">We</label>
              <input id="wednesday" type="checkbox" name="recurringDays[]" value="Wednesday"/>
            </div>
            <div>
              <label for="thursday">Th</label>
              <input id="thursday" type="checkbox" name="recurringDays[]" value="Thursday"/>
            </div>
            <div>
              <label for="friday">Fr</label>
              <input id="friday" type="checkbox" name="recurringDays[]" value="Friday"/>
            </div>
            <div>
              <label for="saturday">Sa</label>
              <input id="saturday" type="checkbox" name="recurringDays[]" value="Saturday"/>
            </div>
          </div>
          <div class="event-date">
            <label for="start">Start</label>
            <input name="start" type="datetime-local" id="start" required/>
            <label for="end">End</label>
            <input name="end" type="datetime-local" id="end" required/>
          </div>
          <div>
            <label for="details">Details</label>
            <textarea
              name="details"
              id="details"
              placeholder="Description of the event..."
              required
              minlength="50"
            ></textarea>
          </div>
          <div id="form-image-upload-container">
            <label for="image-input">Image</label>
            <input name="file-upload" type="file" id="image-input" required/>
          </div>
          <div id="form-buttons">
            <input type="submit" />
            <a id="cancel-button" href="/events">Cancel</a>
          </div>
        </fieldset>
      </form>
    </main>
    <script type="module" src="/js/newEventForm.js"></script>
<%- include('../partials/footer.ejs')%>